################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/FunctionApp/SQL_CRUD_FunctionApp/.vs/SQL_CRUD_FunctionApp/v16
